html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0 auto;
  width: 100%;
  padding: 0;
  line-height: 1.5;
  color: #222;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3 {
  font-family: 'Montserrat', Arial, sans-serif;
  font-weight: 700;
  color: #0c2f60;
  font-size: 2.5rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.3rem;
}

p {
  font-size: 1.1rem;
}

.centered-content {
  margin: 0 auto;
  max-width: 800px;
}

/* nav styles */
.hamburger {
  position: absolute;
  padding: 2px;
  cursor: pointer;
}

.hamburger .line {
  display: block;
  width: 40px;
  height: 5px;
  margin-bottom: 10px;
  background-color: #0c2f60;
}

.nav-links {
  width: 100%;
  top: 5rem;
  left: 48px;
  background-color: #e3be23;
  display: none;
  margin: 0;
}

.nav-links a {
  display: block;
  text-align: center;
  padding: 10px 0;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
}

.nav-links a:hover,
.nav-links a:focus {
  background-color: #e3be23;
}

.expanded {
  display: unset;
}

@media screen and (min-width: 636px) {
  .nav-links {
    text-align: center;
    display: block;
    position: static;
    width: auto;
    background: none;
  }

  .nav-links a {
    display: inline-block;
    padding: 15px 20px;
  }

  .hamburger {
    display: none;
  }
}

@media screen and (max-width: 635px) {
  .centered-content {
    padding: 0 16px;
  }
}
