---
---
<div class="nav-links" id="nav-links">
  <a href="/">Inicio</a>
  <a href="/comunidad">Nuestra comunidad</a>
  <a href="/noticias">Noticias y eventos</a>
  <a href="/recursos">Recursos</a>
</div>
