---
---
<div class="nav-links">
  <a href="/">Inicio</a>
  <a href="/comunidad">Nuestra Comunidad</a>
  <a href="/noticias">Noticias y Eventos</a>
  <a href="/recursos">Recursos</a>
  <a href="/investigacion">Líneas de Investigación</a>
</div>
